@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir="rtl"] {
  text-align: right;
}

html[dir="rtl"] .some-class {
  margin-right: 0;
  margin-left: 20px;
}